# Configuration for vagrant-test.tag1consulting.dev
#
# This file contains example Hiera configuration that can be used to
# override or append to default settings in common.yaml.
# In order to be pulled in by Hiera, the file must be named the same as your VM FQDN
# (configured in Vagrantfile.local, or defaults to vagrant-test.tag1consulting.dev)
# with a .yaml extension. e.g. vagrant-test.tag1consulting.dev.yaml

#################################################
# Apache configuration.

# Example 1: expand the default vhost definition to include an additional
# <Location> block and an alias to access it.
#
# The hostname 'vagrant-test.tag1consulting.dev' matches the definition in common.yaml.
#site_profile::web::vhosts:
#  vagrant-test.tag1consulting.dev:
#    directories:
#      - path: '/srv/books'
#        provider: 'location'
#        allow: 'from all'
#    aliases:
#      - alias: '/books'
#        path: '/srv/books'


# Example 2: Add your own virtualhost in addition to the default vhost already defined in common.yaml.
# You can add additional 'serveraliases' if you need to accept more than one hostname.
#
#site_profile::web::vhosts:
#  another-test.tag1consulting.dev:
#    port: 80
#    docroot: /var/www/another-test
#    directories:
#      - path: '/var/www/another-test'
#        allow_override: All
#        options:
#          - Indexes
#          - FollowSymLinks
#          - MultiViews

# Example 3: Create your own vhost and set is as the default apache vhost.
# This will allow your vhost to match any hostname except for 'vagrant-test.tag1consulting.dev'.
#
#site_profile::web::vhosts:
#  vagrant-test.tag1consulting.dev:
#    default_vhost: false
#
#  new-default.tag1consulting.dev:
#    port: 80
#    default_vhost: true
#    docroot: /var/www/example3
#    directories:
#      - path: '/var/www/example3'
#        allow_override: All
#        options:
#          - Indexes
#          - FollowSymLinks
#          - MultiViews

#################################################
# MySQL configuration.

# MySQL default configure is stored in common.yaml. Those values can be overridden here.
#
# Example 4: Override MySQL settings from common.yaml.
#
#mysql::server::override_options:
#  mysqld:
#    innodb_buffer_pool_size: '1G'
#    max_heap_table_size: '64M'
#    tmp_table_size: '64M'

#################################################
# Sudo configuration.

# Example 5: Add additional sudo configuration.
#
#site_profile::base::sudo_conf:
#  trusteduser:
#    priority: 20
#    content: 'trusteduser ALL=(ALL) ALL'

#################################################
# PHP configuration.

# Example 6: Use a different version of PHP.
# In this case, php56u from IUS
#
#php::mod_php5::php_package_name: 'php56u'
#php::common::common_package_name: 'php56u-common'
#php::cli::cli_package_name: 'php56u-cli'
#site_profile::web::php_opcache_packagename: 'php56u-opcache'
#
## Don't enable php memcache extention because it doesn't exist in IUS yet.
#site_profile::web::enable_php_memcached: FALSE
#site_profile::web::php_memcache_packagename: 'php56u-pecl-memcache'
#
#site_profile::web::php_packages:
#  - php56u-gd
#  - php56u-imap
#  - php56u-mbstring
#  - php56u-mcrypt
#  - php56u-mysql
#  - php56u-pdo
#  - php56u-pear
#  - php56u-soap
#  - php56u-xml
#  - php56u-xmlrpc
