# Exclude puppet modules directory which is populated by r10k
code/environments/production/modules/*
# Only keep one file tracked there so that the directory remains in git.
!code/environments/production/modules/.keep

# Don't track private hiera directory if present.
hiera_private

# Vagrant excludes.
.vagrant
Vagrantfile.local

# vim files.
*.swp
