module newrelic 0.0.9;

require {
  type var_log_t;
  type httpd_t;
  type tmp_t;
  type var_run_t;
  type sysctl_net_t;
  type initrc_t;
  class file open;
  class capability2 block_suspend;
  class sock_file write;
  class file { read lock write open };
  class unix_stream_socket connectto;
}

allow httpd_t self:capability2 block_suspend;
allow httpd_t var_log_t:file open;
allow httpd_t tmp_t:sock_file write;
allow httpd_t var_run_t:file { read lock write open };
allow httpd_t sysctl_net_t:file { read open };
allow httpd_t var_run_t:sock_file write;
allow httpd_t initrc_t:unix_stream_socket connectto;
